* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    -webkit-font-smoothing: antialiased;
}

.main {
    position: relative;
    width: 600px;
    height: 500px;
    background-color: rgba(211, 19, 57, 0.267);
    left: 27%;
    margin-top: 65px;
    border-radius: 8px;
    box-shadow: 0 0 165px 1px rgb(220, 20, 60);
}
            #class {
                transition: all 2s;
            }

            .main:hover{
                cursor: pointer;
                box-shadow: 0 0 175px 2px rgb(220, 20, 60);
                background-color: rgba(211, 19, 57, 0);
            }

.para {
    color: #2d3436;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin: auto;
    padding-top: 96px;
    width: 80%;
    line-height: 1.85em;
    letter-spacing: 3px;
    word-spacing: 3px;
    font-weight: 500;
}


/*=============================================== BUTTON ==================================================*/

.btn{
    float: right;
    margin-right: 70px;
    background-color: rgba(211, 19, 57, 0);
    padding: 12px;
    border:1px black solid;
    border-radius: 50%;
    transform: translateY(-60px);
    transition: all 1s;
}
        .lol {
            width: 40px;
            height: 40px;
        }

        .btn:hover {
            background-color: rgba(211, 19, 57, 0.267);
            box-shadow: 0 0 175px 2px rgb(220, 20, 60);
        }
        .down {

        }

        .btn {
            animation: comeOn 1s ease-out 1s;
            animation-fill-mode: backwards; 
        }

        @keyframes comeOn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

/*=============================================== BUTTON ==================================================*/

/*===========================================================================================================================================*/
/*============================================================ SECTION =====================================================================*/
/*=========================================================================================================================================*/

.first-head {
    text-align: center;
    margin: 12% 0 0 0;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 20px;
    color: #2d3436;
    border-bottom: 3px solid rgb(220, 20, 60);
    font-size: 30px;
}

.container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.596),rgba(220, 20, 60, 0.568)),url(boxing.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 10% 10% 10%;
    padding-top: 15%;
    padding-bottom: 15%;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.box{
    letter-spacing: 20px;
    text-align: center;
    padding:30px;
    margin:2%;
    background:white;
    width:30%;
    border:1px solid #d6d6d600;
    box-shadow:0 3px 4px 0px rgba(0, 0, 0, 0.904);
    border-radius:3px;
    transition: 1s all; 
  }
  .container:hover .box{
    filter:blur(3px);
    opacity:.5;
    transform: scale(.98);
    box-shadow:none;
  }
  .container:hover .box:hover{
    letter-spacing: 8px;
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
    border-left: 7px solid rgb(220, 20, 60);
    box-shadow:0 8px 20px 0px rgba(0, 0, 0, 0.829);
  }

  .boxer {
    text-decoration: none;
    color: #2d3436;
  }
  /*===========================================================================================================================================*/
/*============================================================ SECTION END ==================================================================*/
/*=========================================================================================================================================*/
