
a {
  text-decoration: none;
  color: black;
}


div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;

  transform: translate(0px,200px);

  width: 450px;
  height: 100px;
  background: rgb(255, 255, 255);
  border-radius: 75px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 10px;
  transition: 1s box-shadow;
}

div:hover {
  cursor: pointer;
  box-shadow: 0px 0px 200px 12px rgba(240, 48, 137, 0.5);

}

div:hover:before, div:hover:after {
  display: block;
  content: '';
  position: absolute;
  width: 450px;
  height: 100px;
  background: rgb(252, 252, 252);
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;

}

.div:hover:after {
  background: rgb(255, 255, 255);
  animation: 4s counterclockwise infinite;

}


@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -3px;
    left: 3px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 3px;
    left: 3px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 3px;
    left: -3px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -3px;
    left: -3px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}
/*============================================================================================================*/
/*========================================== VIGNETTE =======================================================*/
/*============================================================================================================*/
.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(255,0,255,0.9) inset;
}